.footer{
    background-color: #F0F3FF;
    width: 100%;
    height: 100px;
    .footer-body{
        display: flex;
        align-items: center;
        justify-content: space-around;
       
    }
}